{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section clas='title'>
    <div class="home-page-title">
      <h1>
        Welcome to Gamers Guild
      </h1>
    </div>

  </section>
<section class="games-container">
    <div class="sort-filter-container">
      <section class="filter">
            {% include "includes/mobile-shop-filter.html" %}
            <div data-sticky-sidebar class="filter-sidebar d-none d-md-block">
              <p class="filter-header">Filter By:</p>
            </div>
      </section>
      <section class="sort-dropdown">
        <select id="sort-selector" class="form-select form-select-sm">
          <option value="reset"
                  {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
          <option value="price_asc"
                  {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
          <option value="price_desc"
                  {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
          <option value="rating_asc"
                  {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
          <option value="rating_desc"
                  {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
          <option value="name_asc"
                  {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
          <option value="name_desc"
                  {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
          <option value="category_asc"
                  {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
          <option value="category_desc"
                  {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
        </select>
        <div class="col-12 col-md-6">
          <p>
            {% if search_term or current_categories or current_sorting != 'None_None' %}
              <span class="small">
                <a href="{% url 'home' %}">Clear Sorting</a> |
              </span>
            {% endif %}
            {{ boardgames|length }} Games
            {% if search_term %}found for <strong>"{{ search_term }}"</strong>{% endif %}
          </p>
        </div>
      </section>
      <div class="btt-btn">
        <a class="btt-link">
          <i class="fas fa-arrow-up"></i>
        </a>
      </div>

    </div>
      <section class="main-games">
          <div class="filter-wrapper d-none d-md-block">
            <p class="genre-header">Genre</p>
              <form method="GET" action="{% url "home" %}">
                {% for genre in genres %}
                  <div class="genre-badge">
                    <label>
                      <input type="checkbox"
                            name="genre"
                            value="{{ genre.id }}"
                            onchange="this.form.submit()"
                            {% if genre.id|stringformat:"s" in current_genres %}checked{% endif %}>
                      {{ genre.name }}
                    </label>
                  </div>
                {% endfor %}
              </form>
            <a href="{% url 'home' %}" class="btn clear-filters-btn">Clear Filters</a>
        </div>
  <div class="container-fluid games">
    <div class="card-display row">
      <div class="col-12 mt-3">
        <div class="row g-4">
          {% for boardgame in boardgames %}
          <div class="col-md-4 d-flex">
            <article class="boardgame-card h-100 w-100">
              <a href="{% url 'boardgame_detail' boardgame.slug %}" class="boardgame-link">
              {% if boardgame.image %}
              <img
                src="{{ boardgame.image.url }}"
                class="card-img-top"
                alt="{{ boardgame.title }}">
              {% else %}
              <img
                class="card-img-top"
                alt="Boardgame placeholder"
              >
              {% endif %} </a>
              <div class="card-body">
                <h2 class="card-title">
                  <a
                  href="{% url 'boardgame_detail' boardgame.slug %}"
                    class="boardgame-link"
                    >{{ boardgame.title }}</a
                  >
                </h2>
                <hr>
                <div class="player-count card-text"><i class="fa-solid fa-people-group"></i> {{boardgame.min_players}} - {{boardgame.max_players }}</div>
              
              </div>
            </article>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </section>  
{% endblock %}
