{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="home-page-title">
                <h1>
                    Welcome to Gamers Guild
                </h1>
            </div>
        </div>
    </div>

<div class="container-fluid">
  <div class="card-display row">
    <div class="col-12 mt-3">
      <div class="row g-4">
        {% for boardgame in boardgames %}
        <div class="col-md-4 d-flex">
          <article class="boardgame-card h-100 w-100">
            {% if boardgame.image %}
            <img
              src="{{ boardgame.image.url }}"
              class="card-img-top"
              alt="{{ boardgame.title }}"
            >
            {% else %}
            <img
              class="card-img-top"
              alt="Boardgame placeholder"
            >
            {% endif %}
            <div class="card-body">
              <h2 class="card-title">
                <a
                  class="boardgame-link"
                  >{{ boardgame.title }}</a
                >
              </h2>
              <hr>
              <div class="player-count card-text"> {{boardgame.min_players}} - {{boardgame.max_players }} players</div>
             
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
    
{% endblock %}