{% extends "base.html" %}
{% load static %}

{% block title %}
    Checkout Success | Gamers Guild
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock extra_css %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4">Thank You</h2>
            <hr>

            <p class="text-light">
                Your order information is below. A confirmation email will be sent to
                <strong>{{ order.email }}</strong>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7">

            <div class="order-confirmation-wrapper p-3 border">

                <small class="text-highlight">Order Information:</small>

                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Order Number</div>
                    <div class="col-12 col-md-8 text-md-end text-break">
                        {{ order.order_number }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Order Date</div>
                    <div class="col-12 col-md-8 text-md-end">
                        {{ order.date }}
                    </div>
                </div>

                <small class="text-highlight mt-3 d-block">Order Details:</small>

                {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold">
                            {{ item.product.name }}
                            {% if item.product_size %}
                                - Size {{ item.product_size|upper }}
                            {% endif %}
                        </div>

                        <div class="col-12 col-md-8 text-md-end">
                            {{ item.quantity }} x £{{ item.product.price|floatformat:2 }}
                        </div>
                    </div>
                {% endfor %}

                <small class="text-highlight mt-3 d-block">Delivering To:</small>

                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Full Name</div>
                    <div class="col-12 col-md-8 text-md-end">{{ order.full_name }}</div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Address 1</div>
                    <div class="col-12 col-md-8 text-md-end">{{ order.street_address1 }}</div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Address 2</div>
                    <div class="col-12 col-md-8 text-md-end">{{ order.street_address2 }}</div>
                </div>
                {% endif %}

                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">County</div>
                    <div class="col-12 col-md-8 text-md-end">{{ order.county }}</div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Town / City</div>
                    <div class="col-12 col-md-8 text-md-end">{{ order.town_or_city }}</div>
                </div>

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Postcode</div>
                    <div class="col-12 col-md-8 text-md-end">{{ order.postcode }}</div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Country</div>
                    <div class="col-12 col-md-8 text-md-end">{{ order.country }}</div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Phone</div>
                    <div class="col-12 col-md-8 text-md-end">{{ order.phone_number }}</div>
                </div>

                <small class="text-highlight mt-3 d-block">Billing Information:</small>

                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Order Total</div>
                    <div class="col-12 col-md-8 text-md-end">
                        £{{ order.order_total|floatformat:2 }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Delivery</div>
                    <div class="col-12 col-md-8 text-md-end">
                        £{{ order.delivery_cost|floatformat:2 }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Grand Total</div>
                    <div class="col-12 col-md-8 text-md-end">
                        £{{ order.grand_total|floatformat:2 }}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-lg-7 text-end">

            {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn my-2">
                    <i class="fas fa-angle-left me-2"></i>
                    Back to Profile
                </a>
            {% else %}
                <a href="{% url 'shop' %}?category=new_arrivals,deals,clearance"
                   class="btn my-3">
                    <i class="fas fa-gifts me-2"></i>
                    Now check out the latest deals!
                </a>
            {% endif %}

        </div>
    </div>

</div>
{% endblock content %}