{% if widget.is_initial %}
  <div class="mb-2">
    <p class="form-text">{{ widget.initial_text }}:</p>

    <a href="{{ widget.value.url }}">
      <img src="{{ widget.value.url }}"
           class="img-thumbnail"
           style="max-width: 140px;">
    </a>

    {% if not widget.required %}
      <div class="form-check mt-2">
        <input class="form-check-input"
               type="checkbox"
               name="{{ widget.checkbox_name }}"
               id="{{ widget.checkbox_id }}">
        <label class="form-check-label text-danger"
               for="{{ widget.checkbox_id }}">
          {{ widget.clear_checkbox_label }}
        </label>
      </div>
    {% endif %}
  </div>
{% endif %}

<input type="file"
       name="{{ widget.name }}"
       id="id_{{ widget.name }}"
       class="d-none"
       {% include "django/forms/widgets/attrs.html" %}>

<label for="id_{{ widget.name }}" class="btn btn-primary">
    <i class="fas fa-upload me-2"></i> Choose Image
</label>

<small class="text-muted d-block mt-1" id="filename"></small>