body, .boardgame-description, .filter-header {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

h1, header, .card-title {
    font-family: 'Cinzel', serif;
}

.bag-total {
    margin-left: 1rem;
}

.home-page-title {
   margin-top: 6rem;
   margin-left: 2rem;
}

.shop-category {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.shop-page-title {
  margin-left: 2rem;
}

/* Shop links hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.shop-container {
  display: flex;
}

.filter-sidebar {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 0.25rem;
}

.filter-header {
  padding-left: 0.3rem;
}

.filter-wrapper {
  border-top: 0.1rem solid black;
  border-bottom:  0.1rem solid black;
  border-radius: 0.25rem;
}

.category-badge {
display: block;
padding: 0.3rem;
}

/* Card Styling */
.card-img-top,
.boardgame-image,
.about-image,
.product-image {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
}

.boardgame-card,
.product-card {
  border: 2px solid var(--primary-highlight);
  border-radius: 15px;
  overflow: hidden;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  margin-bottom: 2rem;
}

.boardgame-card:hover,
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.card-title {
  font-weight: 700;
  color: var(--text);
  padding-top: 1rem;
  text-align: center;
}

.card-text {
  color: var(--text);
  font-size: 1rem;
  padding-left: 0.75rem;
}
.card-date {
  font-size: 0.7rem;
  padding-left: 0.75rem;
  padding-bottom: 0.5rem;
}

.boardgame-link,
.product-link {
  text-decoration: none;
  color: inherit;
}

.page-link {
  margin: 1.5rem 0.5rem 1rem 0.5rem;
  padding: 0.3rem 0.5rem;
}

/* Boardgame detail page */

.boardgame-detail,
.product-detail {
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}