:root {
  --primary-color: #1B1B1D; /* Carbon Black */
  --secondary-color: #2C2A36; /* Shadow Grey */
  --primary-highlight: #D4AF37; /* Metallic Gold*/
  --secondary-highlight: #B63E3E; /* Intense Cherry */
  --text: #E6E6E6; /* Alabaster Grey */
  --danger: #B63E3E; /* Intense Cherry */
  --success: #4C8C4A; /* Sea Green */
  --font-primary: 'Roboto', sans-serif;
  --font-heading: 'Cinzel', serif;
}

.body, .container-fluid, .filter-sidebar, .shop-container, .shop-category, .navbar-expand {
  background-color: var(--primary-color);
}

body, .boardgame-description, .filter-sidebar, .btn, .rating, .category, .boardgame-display, .product-description, .product-header {
    font-family: var(--font-primary);
    color: var(--text);
    background-color: var(--primary-color);
}

h1, header, .card-title, .navbar, .navbar-link-active, .navbar-nav, .navbar-brand, .nav-link, .active, .nav-item, .fa-solid, .bag-total, title, .home-btn, .shop-btn {
    font-family: var(--font-heading);
    color: var(--text);
    background-color: var(--primary-color);
}

h1 {
  margin-bottom: 0;
}
 
.bag-total {
    margin-left: 1rem;
}

.home-page-title {
   margin-top: 6rem;
   padding-left: 2rem;
}

.shop-category {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.shop-page-title {
  padding-left: 3rem;
  padding-bottom: 0.5rem;
}

.search-bar{
  border: var(--primary-highlight) solid 0.2rem;
}

.search-btn{
  border: var(--primary-highlight) solid;
  border-radius: 15%;
}

/* Shop links hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.shop-container {
  display: flex;
}

.filter-sidebar {
  margin-left: 1rem;
  border: 0.1rem solid var(--primary-highlight);
  border-radius: 0.25rem;
  width: 10%
}

.filter-header, .categories-header {
  padding-left: 0.3rem;
}

.filter-wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 0.1rem solid var(--primary-highlight);
  border-bottom:  0.1rem solid var(--primary-highlight);
  border-radius: 0.25rem;
}

.category-badge {
display: block;
padding: 0.3rem;
}

.clear-filters-btn {
  border: var(--primary-highlight) solid;
  display: flex;
  margin-bottom: 0.3rem;
}

.btt-btn {
  height: 3rem;
  width: 3rem;
  position:fixed;
  top: 5rem;
  right: 1rem;
  z-index: 1000;
  border: var(--primary-highlight) solid;
  border-radius: 0.1rem;
}

.btt-link {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

.increment-qty, .decrement-qty {
  border: var(--primary-highlight), solid;
}

/* Card Styling */
.card-img-top,
.boardgame-image,
.about-image,
.product-image {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
}

.boardgame-card,
.product-card {
  border: 2px solid var(--primary-highlight);
  border-radius: 15px;
  overflow: hidden;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  margin-bottom: 2rem;
}

.boardgame-card:hover,
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.card-title {
  font-weight: 700;
  color: var(--text);
  padding-top: 1rem;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.card-text {
  color: var(--text);
  font-size: 1rem;
  padding-left: 0.75rem;
}
.card-date {
  font-size: 0.7rem;
  padding-left: 0.75rem;
  padding-bottom: 0.5rem;
}

.boardgame-link,
.product-link {
  text-decoration: none;
  color: inherit;
}

.category {
  text-decoration: none;
}

.category, .price, .rating {
  margin-left: 1rem;
}
/* Boardgame detail page */

.boardgame-detail,
.product-detail {
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Toasts */


.message-container {
    position: fixed;
    top: 5rem;
    right: 1rem;
    z-index: 9999;
}

.toast-header {
  display:flex;
  align-items: baseline;
  justify-content: space-between;
}

.success-toast {
  overflow: visible;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}