<div class="accordion" id="filterAccordion">
  <div class="accordion-body">
    <form method="get" action="{% url 'shop' %}">

      {% for sub in subcategories %}
        <div class="form-check mb-1">

          <input
            class="form-check-input"
            type="checkbox"
            name="category"
            value="{{ sub.type }}"
            id="mobile-category-{{ forloop.counter }}"
            onchange="this.form.submit()"
            {% if sub.type in current_categories %}checked{% endif %}
          >

          <label
            class="form-check-label"
            for="mobile-category-{{ forloop.counter }}"
          >
            {{ sub.readable_type|default:sub.type }}
          </label>

        </div>
      {% endfor %}

    </form>
  </div>
</div>