<div class="d-flex d-md-none w-100 align-items-center justify-content-between">

  <button class="navbar-toggler border-0 bg-transparent"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent">
    <i class="fa-solid fa-bars nav-icon"></i>
  </button>

  <h1 class="navbar-brand site-logo m-0">
    <a href="{% url 'home' %}">Gamers Guild</a>
  </h1>

  <div class="d-flex gap-3">
    <a class="nav-link icon-link" href="{% url 'profile' %}">
      <i class="fa-solid fa-user nav-icon"></i>
    </a>

    <a class="nav-link icon-link" href="{% url 'view_bag' %}">
      <i class="fa-solid fa-cart-shopping nav-icon"></i>
    </a>
  </div>

</div>