<div class="d-flex d-md-none w-100 align-items-center justify-content-between">

  <button class="navbar-toggler border-0 bg-transparent"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-label="Main menu">
    <svg xmlns="http://www.w3.org/2000/svg"
        width="16" 
        height="16" 
        fill="currentColor" 
        class="bi bi-list" 
        viewBox="0 0 16 16">
      <path fill-rule="evenodd" 
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>
  </button>

  <h1 class="navbar-brand site-logo m-0">
    <a href="{% url 'home' %}">Gamers Guild</a>
  </h1>

  <div class="d-flex gap-3">
    <a class="nav-link icon-link" 
       href="{% url 'profile' %}"
       aria-label="User profile">
      <svg xmlns="http://www.w3.org/2000/svg" 
            width="16" 
            height="16" 
            fill="currentColor" 
            class="bi bi-person-fill nav-icon" 
            viewBox="0 0 16 16"
            aria-hidden="true">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
      </svg>
    </a>

    <a class="nav-link icon-link" 
       href="{% url 'view_bag' %}"
       aria-label="View bag">
      <svg xmlns="http://www.w3.org/2000/svg" 
           width="16" 
           height="16" 
           fill="currentColor" 
           class="bi bi-cart-fill nav-icon" 
           viewBox="0 0 16 16"
           aria-hidden="true">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg>
    </a>
  </div>

</div>