{% extends "base.html" %}

{% load static %}

{% block page_header %}
<section class='shop-category'>        
  {% include 'includes/main-nav.html' %}
</section>
    <section class="shop-page-title">
        <h1> Welcome to the Gamers Guild Shop </h1>
    </section>
{% endblock %}

{% block content %}


<div class="container-fluid">
  <div class="card-display row">
    <div class="col-12 mt-3">
      <div class="row g-4">
        {% for product in products %}
        <div class="col-md-4 d-flex">
          <article class="product-card h-100 w-100">
            {% if product.image %}
            <img
              src="{{ product.image.url }}"
              class="card-img-top"
              alt="{{ product.name }}"
            >
            {% else %}
            <img
              class="card-img-top"
              alt="product placeholder"
            >
            {% endif %}
            <div class="card-body">
              <h2 class="card-title">
                <a href="{% url 'product_detail' product.id %}"
                class="product-link">
                {{ product.name }}</a>
              </h2>
              <div class="price"> £{{ product.price}}
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
    
{% endblock %}