
<div class="accordion-item">

  <h2 class="accordion-header"
      id="{{ prefix }}HeadingPlaytime">

    <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#{{ prefix }}Playtime"
            aria-expanded="false"
            aria-controls="{{ prefix }}Playtime">

      Playtime

    </button>

  </h2>

  <div id="{{ prefix }}Playtime"
       class="accordion-collapse collapse"
       data-bs-parent="#{{ prefix }}AccordionFilters"
       role="region"
       aria-labelledby="{{ prefix }}HeadingPlaytime">

    <div class="accordion-body">

      <form method="get" action="{% url 'home' %}">
        {% for g in current_genres %}
          <input type="hidden" name="genre" value="{{ g }}">
        {% endfor %}
        {% for p in current_players %}
          <input type="hidden" name="players" value="{{ p }}">
        {% endfor %}
        {% if request.GET.sort %}
          <input type="hidden" name="sort" value="{{ request.GET.sort }}">
          <input type="hidden" name="direction" value="{{ request.GET.direction }}">
        {% endif %}
        <fieldset>

          <legend class="visually-hidden">
            Playtime filter
          </legend>

          <label for="{{ prefix }}PlaytimeSlider"
                 class="mb-2">

            Max Playtime (minutes)

          </label>

          <input
            class="slider form-range"
            type="range"
            id="{{ prefix }}PlaytimeSlider"
            name="playtime"
            min="0"
            max="300"
            value="{{ request.GET.playtime|default:90 }}"
            oninput="document.getElementById('{{ prefix }}PlaytimeInput').value = this.value"
            aria-label="Max playtime in minutes"
          >

          <div class="d-flex align-items-center gap-2 mt-2">

            <input
              type="number"
              id="{{ prefix }}PlaytimeInput"
              name="playtime"
              class="form-control"
              min="0"
              max="300"
              value="{{ request.GET.playtime|default:90 }}"
              oninput="document.getElementById('{{ prefix }}PlaytimeSlider').value = this.value"
              aria-label="Input max playtime in minutes"
            >

            <span>mins</span>

          </div>

          <button type="submit"
                  class="btn btn-sm mt-2">

            Apply

          </button>

        </fieldset>

      </form>

    </div>

  </div>

</div>
